header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo,
.profile {
    cursor: pointer;
}

ul li {
    margin-right: 70px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.icon {
    color: #9CA3AF;
}

.profile {
    background-image: url('../../assets/2Nabi3x4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hamburgerMenu {
    display: none;
}

@media screen and (max-width: 1025px) {
    ul {
        width: 100%;
        min-height: 100vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: -100%;
        right: 0;
        padding: 30px;
        transition: all 0.5s ease-in-out
    }

    .show {
        left: 0;
    }

    .hide {
        left: -100%;
    }

    ul li {
        padding: 15px;
    }

    .inputBox {
        order: -1;
        width: 100%;
    }


    .hamburgerMenu {
        display: block;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

}