@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: "Gotham-Black", Arial, sans-serif !important;
}

#root {
    background-color: #000;
}

section {
    padding: 40px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-track:hover {
    background-color: #555;
}

.imgbox img {
    height: 100%;
    width: 100%;
}