.newsDetailsHeader {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.newsDetailsTitle {
    position: absolute;
    bottom: 30%;
    left: 5%;
    padding: 2px 5px;
    cursor: pointer;
}

.newsDetailsDesc {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 1;
    color: #fff;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
}

.commentInput {
    color: #fff;
}

.commentInput:focus {
    border-bottom: 1px solid gray;
}

.commentBtn {
    border-radius: 20px;
}

.commentProfile {
    background-image: url(../../assets/2Nabi3x4.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 1920px) {
    .newsDetailsHeader {
        height: 900px;
    }

}